.CFUserTextEncoding
.DS_Store
.asdf/
.cache/
.config/appearance/current
.config/coc/commands
.config/coc/extensions/
!.config/coc/extensions/package.json
.config/coc/list-location-history.json
.config/coc/suggest.txt
.config/configstore/
.config/iterm2/AppSupport
.config/yarn/
.docker/
.gitconfig.local
.netrc
.node_repl_history
.lesshst
.local/
.npm/
.ssh/
.vim/
.viminfo
.yarnrc
.zcompdump*
.zshrc.local
.zsh_history
.zsh_sessions/
.Trash/
Applications/
Desktop/.localized
Dev/
Documents/.localized
Documents/Recordings/
Downloads/.localized
Library/
Movies/.localized
Movies/TV/
Music/.localized
Pictures/.localized
Pictures/Photos Library.photoslibrary/
Public/
go/
